{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>DevBlog</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
	<center><h1>DevBlog</h1></center>
	<br>
	<a href="{% url 'signup' %}">New User? Sign Up Here.</a>
	<br><br>
	<form class="auth" action="{% url 'homepage' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Login">
	</form>
	<p>Login Status: {{logged_or_not}}</p>
	<h2>Articles</h2>
	<ul>
		{% for thing in articles %}
		<div class = "article">
			<li>
				<h3><a href="{{thing.slug}}">{{thing.title}}</a></h3>
				<p>{{thing.snippet}}</p>
				<p>{{thing.date}}</p>	
			</li>
		</div>
		{% endfor %}
	</ul>

</body>
</html>